# =========================
# Dependencias
# =========================
node_modules/

# =========================
# Entorno y Secretos (¡CRÍTICO!)
# =========================
.env
.env.*
*.local

# =========================
# Compilación TypeScript
# =========================
dist/
build/

# =========================
# Logs de Node
# =========================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# ==========================================
# REGLAS DEL PROYECTO (NoticiasWalyBackend)
# ==========================================

# 1. Ignorar la base de datos JSON para no subir datos reales
/data/

# 2. Ignorar las imágenes subidas por el administrador
/public/uploads/

# =========================
# Sistemas Operativos e IDEs
# =========================
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?